:root {
  /* Colours */
  --color-text: #000000;
  --color-primary: #d4d7e1;
  --color-secondary: #84868b;
  --color-dark: #0b2447;
  --color-bg: #e1e3e6;

  /* Fonts */
  --font-roboto: "Roboto";
}
